html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #1b1b1b;
    line-height: 1.4;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.top {
    margin-bottom: 80px;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header_item {
    display: none;
}

.menu_btn {
    display: none;
    width: 40px;
    flex-direction: column;
}

.menu_btn:active {
    background-color: inherit;
}


.menu_btn_active:nth-child(1) {
    transform: rotate(45deg);
    margin-left: 3px;
    transition-duration: 0.5s;
    transform-origin: center;
}

.menu_btn_active:nth-child(2) {
    display: none;
}

.menu_btn_active:nth-child(3) {
    transform: rotate(-45deg);
    transition-duration: 0.5s;
    margin-left: 0px;
    transform-origin: center;
    position: absolute;
}

.menu__list {
    display: flex;
    gap: 0 40px;
    font-size: 18px;
}

.phone {
    font-weight: 700;
    font-size: 18px;
    color: #043542;
}

.top__inner {
    display: flex;
    min-height: 610px;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/top-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 30px;
}

.top__inner-item {
    display: flex;
    gap: 0 200px;
    flex-wrap: wrap;
}

.top__title {
    font-size: 36px;
    margin-bottom: 30px;


}

.top__text {
    font-size: 18px;
    line-height: 1.3;
    flex-basis: 588px;
}

.Information {
    margin-bottom: 100px;
}

.Information_inner-list {
    display: flex;
    justify-content: space-between;
}

.Information_inner-number {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #04806B;
}

.Information_inner-text {
    font-size: 26px;
    font-weight: 600;
    color: #04806B;
}

.Cottage_title,
.Principles_title,
.Sales_title {
    font-size: 36px;
    font-weight: 700;
    color: #043E52;
    margin-bottom: 30px;
}

.cart_btn {
    width: 240px;
    height: 50px;
    border: 1px solid #04806B;
}

.Cottage_inner {
    position: relative;
}

.Cottage_cart {
    padding: 20px 55px;
}

.Arrow {
    margin-left: 20px;
}

.Cottage {
    margin-bottom: 100px;
}

.Principles {
    margin-bottom: 100px;
}

.Principles_text {
    display: flex;
    max-width: 588px;
    font-size: 18px;
}

.open-cart {
    font-size: 18px;
    position: absolute;
    color: #ffff;
    cursor: pointer;
    text-transform: uppercase;
    bottom: 45px;
    right: 45px;
    padding: 20px 50px;
    background-color: #059B7E;
}


.Cottage_inner {
    position: relative;
}

.swiper,
.mySwiper {
    padding-bottom: 80px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 30px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 25px);
}

.Projects,
.Sales {
    margin-bottom: 60px;
}

.Projecits_slider-inner,
.Sales_slider-inner {
    padding-top: 30px;

}

.Projecits_slide-img,
.Sales_slide-img {
    width: 450px;
    height: 260px;
}

.Projects_title,
.Sales_title {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;
    color: #043E52;
    margin-bottom: 70px;
}

.Investors_title {
    font-size: 36px;
    font-weight: 700;
    color: #043E52;
    margin-bottom: 90px;

}

.Form_title {
    padding-bottom: 80px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.Team_title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;

}

.Contacts_title {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 145px;
}

.swiper-pagination-bullet-active {
    background: #059B7E;
    width: 18px;
    height: 18px;
}

.swiper-pagination-bullet {
    background: #036B57;
    width: 18px;
    height: 18px;
}

.mySwiper {
    overflow: visible;
}

.mySwiper_Sales {
    overflow: hidden;
}

.Projecits_swiper-slide {
    background-color: #036B57;
    position: relative;
    width: 450px !important;
    height: 560px;

}

.Sales_swiper-slide {
    background-color: #243746;
    position: relative;
    width: 450px !important;
    height: 560px;
}

.Projecits_slide-product,
.Sales_slide-product {
    display: flex;
    gap: 0 65px;
    flex-wrap: wrap;
    line-height: 1.3;
    margin: 10px 15px;
}


.Projecits_slide-logo,
.Sales_slide-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 275px;
    left: 325px;
}

.Projecits_slide-address,
.Sales_cart-address {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}

.Projecits_slide-text,
.Sales_cart-text {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}


.Projecits_slide-price,
.Sales_slide-price {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;

}

.Projecits_slide-club,
.Sales_cart-club {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.Projecits_slide-btn,
.Sales_slide-btn {
    font-size: 18px;
    padding: 20px 120px;
    background-color: #059B7E;
    color: #fff;
    font-weight: 600;
}

.Sales_container {
    padding: 0 390px;
}

.Sales_inner-item {
    background-color: #036B57;
    display: flex;
    flex-wrap: wrap;
    gap: 0 65px;
    width: 420px;
    height: 600px;
    padding: 0 20px;
}

.Sale_swiper-pagination {
    display: none;
}


.Investors_subtitle {
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: 50px;
}



.Investors_info-btn {
    position: absolute;
    font-size: 18px;
    color: #fff;
    bottom: 45px;
    right: 45px;
    padding: 20px 50px;
    background-color: #059B7E;
}

.Investors_wrapper {
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1400px;
    z-index: 1;
}

.Investors_background {
    position: relative;
    background-color: #243746;
    bottom: 600px;
    width: 100vw;
    height: 70vh;
}

.Team_background {
    position: relative;
    background-color: #243746;
    bottom: 600px;
    width: 100vw;
    height: 120vh;
}

.Form {
    width: 0;
    height: 0;
}

.Form_background {
    position: relative;
    background-color: #243746;
    background-image: url(images/fons-2.svg);
    background-repeat: no-repeat;
    bottom: 600px;
    width: 100vw;
    height: 63vh;
}

.Contacts_background {
    background-image: url(images/Contats.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 62vh;
}

.Investors_wrapper-item {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Investors_blok-right {
    background-color: #036B57;
    width: 680px;
    height: 340px;
    margin-right: 20px;
    padding: 50px;
}

.Investors_blok-left {
    background-color: #036B57;
    width: 680px;
    height: 340px;
    margin-left: 20px;
    padding: 50px;

}

.Investors_blok-title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 125px;
}

.Investors_blok-text {
    font-size: 20px;
    color: #fff;
    line-height: 1.3;
}

.Investors_blok-text>span {
    font-weight: 600;
}

.Team_content-blok {
    display: grid;
    gap: 40px 40px;
    grid-template-columns: auto auto;
}

.Team_blok-item {
    display: flex;
    width: 680px;
    height: 360px;
    background: #265663;
}

.Team_item-box {
    padding: 30px 20px;
}

.Team_inner-title {
    font-size: 34px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 20px;
}

.Team_inner-text {
    padding-bottom: 200px;
    color: #839EA5;
}

.Team_inner-email {
    color: #ffffff;
}

.Form {
    width: 0vw !important;
    height: 0vh !important;
}



.Form_inner {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;
}

.Form_inner-name {
    color: #181818;
    font-size: 16px;
    width: 520px;
    height: 50px;
    margin-bottom: 20px;
}

.Form_inner-phone {
    color: #181818;
    font-size: 16px;
    width: 520px;
    height: 50px;
    margin-bottom: 20px;
}

.Form_item-checkbox {
    color: #EBF3FF;
    max-width: 520px;
    margin-bottom: 20px;
}

.Form_checkbox-text {
    text-decoration: underline;
}

.Form_item-btn {
    display: inline-block;
    padding: 14px 208px;
    width: 520px;
    height: 50px;
    background-color: #059B7E;
}

.Form_btn {
    color: #fff;
    font-weight: 600;
}

.Contacts_inner {
    padding-top: 120px;
}

.Contacts_inner-info {
    padding: 25px 30px;
    width: 520px;
    height: 370px;
    background-color: #243746;
}

.Contacts_info-item {
    display: grid;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    gap: 20px;
    line-height: 1.2;
    grid-template-columns: auto auto;
}

.footer_wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.footer_inner-item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.footer_list-icone {
    display: flex;
    align-items: center;
    gap: 0 40px;
    height: 125px;
}

.footer_inner-link {
    color: #265663;
    margin-top: 20px;
    font-size: 18px;
}

.Main_text {
    color: #839EA5;
    font-size: 18px;
    margin-top: 50px;
}

.footer_site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0;
    padding: 100px 10px;
}

.footer_site>p {
    color: #265663;
}



























@media(max-width:1900px) {

    .mySwiper_Sales,
    .mySwiper {
        overflow: hidden;
    }

    .Contacts_background {
        height: 58vh;
    }

    .Investors_background {
        bottom: 599px;
        height: 70vh;
    }

    .Team_background {
        bottom: 600px;
        height: 100vh;
    }

    .Form_background {
        bottom: 601px;
        height: 59vh;
    }
}


@media(max-width:1600px) {

    .Investors_background {
        bottom: 590px;
    }

    .Form_background {
        height: 69vh;
        bottom: 602px;
    }

    .Team_background {
        bottom: 600px;
        height: 120vh;
    }

    .Contacts_background {
        height: 63vh;
    }
}

@media(max-width:1400px) {
    .Team_blok-item {
        width: 650px;
    }

    .Investors_img {
        width: 1330px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 428px;
    }


    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 428px !important;
        height: 560px;
    }


    .Projecits_slide-logo,
    .Sales_slide-logo {
        top: 270px;
        left: 315px;
    }


    .Projecits_slide-price,
    .Sales_slide-price {
        color: #fff;
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 700;
    }
}

@media(max-width:1300px) {
    .Investors_wrapper {
        position: relative;
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 1200px;
        z-index: 1;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 400px !important;
        height: 560px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        top: 270px;
        left: 285px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        padding: 20px 110px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 400px;
    }


    .Projecits_slide-product::after,
    .Sales_slide-product::after {
        left: 280px;
    }

    .Investors_img {
        width: 1200px;
    }

    .Investors_wrapper-item {
        padding: 0 40px;
    }

    .Team_blok-item {
        width: 610px;
    }

    .Team_item-box {
        padding: 20px 20px;
    }

    .Team_inner-title {
        font-size: 30px;
        width: 325px;
    }

    .Team_inner-text {
        color: #839EA5;
        padding-bottom: 225px;
    }



}

@media(max-width:1024px) {

    .menu__list {
        font-size: 16px;
    }

    .phone {
        display: none;
    }

    .Investors_wrapper {
        position: relative;
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 1000px;
        z-index: 1;
    }

    .Investors_img {
        width: 990px;
    }

    .Investors_wrapper-item {


        padding: 0 10px;
    }

    .Investors_blok-left {
        width: 600px;
        height: 300px;
        padding: 40px;
    }

    .Investors_blok-right {
        width: 600px;
        height: 300px;
        padding: 40px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 320px !important;
        height: 550px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        padding: 20px 74px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 320px;
    }

    .Projecits_slide-address,
    .Sales_cart-address,
    .Projecits_slide-club,
    .Sales_cart-club,
    .Projecits_slide-text,
    .Sales_cart-text,
    .Projecits_slide-price,
    .Sales_slide-price,
    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 80px;
        height: 80px;
        top: 270px;
        left: 228px;
    }


    .Team_blok-item {
        width: 460px;
        height: 320px;
    }

    .Team_item-box {
        width: 250px;
        padding: 20px 20px;
    }

    .Team_inner-title {
        width: 200px;
        height: 70px;
    }

    .Team_inner-text {
        width: 200px;
        font-size: 14px;
        height: 170px;
        padding-bottom: 155px;
    }
}

.Team-text {
    padding: 20px 20px 185px 20px;
}

.Team_content-blok {
    max-width: 1000px;
}

.Form_inner {
    margin: 0 auto;
}

.Contacts_inner {
    padding: 110px 15px;
}

.footer_site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0;
    padding: 100px 10px;
}

.footer_list-icone {
    display: flex;
    align-items: center;
    gap: 0 30px;
}



@media(max-width:900px) {
    .Arrow {
        display: none;
    }

    .menu_list-active {
        box-shadow: 0px 10px 3px -5px rgba(0, 0, 0, 0.5);
    }

    .menu_btn {
        display: flex;
    }

    .menu__list--open {
        display: block;
        line-height: 2.5;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .menu__list,
    .phone {
        display: none;
    }

    .Projecits_slide-address,
    .Sales_cart-address,
    .Projecits_slide-club,
    .Sales_cart-club,
    .Projecits_slide-text,
    .Sales_cart-text,
    .Projecits_slide-price,
    .Sales_slide-price,
    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 14px;
    }

    .swiper-pagination-bullet {
        background: #036B57;
        width: 15px;
        height: 15px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 276px;
        height: 190px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 276px !important;
        height: 460px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 75px;
        height: 75px;
        top: 200px;
        left: 190px;
    }


    .Projecits_slide-btn,
    .Sales_slide-btn {
        padding: 20px 55px;
    }


    .Investors_wrapper {
        max-width: 890px;
    }

    .Investors_img {
        width: 870px;
        padding: 0 10px;
    }

    .Investors_info-btn {
        padding: 15px 40px;
        font-size: 16px;
        bottom: 15px;
        right: 75px;
        font-weight: 600;
    }

    .Information_inner-list {
        display: flex;
        justify-content: normal;
        gap: 0 75px;
        flex-wrap: wrap;
    }

    .Information_inner-number {
        font-size: 45px;
    }

    .Investors_blok-right,
    .Investors_blok-left {
        width: 500px;
        height: 300px;
        padding: 30px;
        margin: 0 10px;
    }



    .Team_blok-item {
        width: 413px;
        height: 259px;
    }

    .Team_item-box {
        width: 220px;
    }

    .Team_inner-title {
        font-size: 26px;
    }

    .Team_inner-text {
        height: 140px;
        padding-bottom: 135px;
    }

    .Form_inner {
        margin: 0;
        max-width: 900px;
        padding: 0 10px;
    }

    .Contacts_inner {
        padding: 90px 15px;
    }

    .footer_inner-item {
        justify-content: center;
    }

    .footer_inner-list {
        display: none;
    }

    .footer_list-icone {
        display: flex;
    }

    .footer_site {
        justify-content: center;
        gap: 0 320px;
        max-width: 900px;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .footer_site-img {
        margin-bottom: 30px;
    }
}

@media(max-width:800px) {
    .Information_inner-number {
        font-size: 36px;
    }

    .Cottage_title,
    .Principles_title,
    .Sales_title {
        font-size: 32px;
    }

    .Investors_blok-right,
    .Investors_blok-left {
        width: 355px;
    }

    .Team_item-box {
        width: 180px;
        padding: 15px 7px;
    }

    .Team_inner-title {
        width: 160px;
        height: 68px;
    }

    .Team_inner-text {
        width: 145px;
    }

    .Information_inner-list {
        gap: 0 43px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
    }

    .swiper-pagination-bullet {
        background: #036B57;
        width: 15px;
        height: 15px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 240px;
    }


    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 240px !important;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 70px;
        height: 70px;
        top: 7px;
        left: 10px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 18px;
        padding: 10px 30px;
    }

    .Investors_img {
        width: 770px;
    }


    .Investors_blok-right,
    .Investors_blok-left {
        padding: 20px;
    }

    .Team_background {
        height: 100vh;
    }

    .Team_blok-item {
        width: 365px;
        height: 250px;
    }

    .Team_item-box {
        padding: 15px 15px;
    }

    .Team_content-blok {
        display: grid;
        gap: 30px 40px;
    }

    .Contacts_inner {
        padding: 110px 18px;
    }

    .Form_background {
        height: 69vh;
        bottom: 600px;
    }

    .footer_list-icone {
        gap: 0 40px;
    }
}

@media(max-width:768px) {
    .open-cart {
        font-size: 18px;
        position: absolute;
        color: #ffff;
        cursor: pointer;
        text-transform: uppercase;
        bottom: 45px;
        right: 15px;
        padding: 20px 45px;
        background-color: #059B7E;
    }

    .Investors_img {
        width: 735px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 230px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 230px !important;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 18px;
        padding: 10px 28px;
    }

    .Investors_blok-right,
    .Investors_blok-left {
        width: 338px;
    }

    .Team_inner-title {
        width: 156px;
        height: 70px;
    }

    .Investors_blok-right,
    .Investors_blok-left {
        padding: 12px;
    }


    .Team_item-box {
        width: 175px;
        padding: 10px 10px;
    }

    .Team_content-blok {
        display: grid;
        gap: 25px 25px;
    }

    .Team_inner-text {
        width: 160px;
    }

    .Team_blok-item {
        width: 355px;
        height: 240px;
    }

    .Team_inner-title {
        font-size: 24px;
    }

    .Team_inner-text {
        height: 100px;
        padding-bottom: 120px;
    }

    .Contacts_inner {
        padding: 90px 18px;
    }
}

@media(max-width:480px) {
    .Arrow {
        display: none;
    }

    .Projects_title,
    .Sales_title,
    .Investors_title {
        margin-bottom: 30px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 20px);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .Information_inner-list {
        gap: 20px 100px;
    }

    .Information_inner-number {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .Information_inner-text {
        font-size: 20px;
    }

    .Information_inner-list {
        padding: 0 20px;
    }

    .Information_number-eleven {
        width: 175px;
    }

    .Information_number_three {
        width: 131px;
    }

    .open-cart {
        font-size: 16px;
        bottom: 20px;
        right: 40px;
        padding: 15px 117px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
        padding: 10px 35px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 220px;
        height: 195px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 220px !important;
        height: 450px;
    }

    .Projecits_slide-product,
    .Sales_slide-product {
        line-height: 1.2;
        margin: 10px 10px;
    }

    .Investors_container,
    .Contacts_container {
        padding: 0;
    }

    .Investors_background {
        height: 24vh;
    }

    .Investors_title {
        padding: 0 15px;
    }

    .Investors_background {
        top: -150px;
    }

    .Investors_background-two {
        top: -288px;
        height: 40vh;
    }

    .Investors_img {
        width: 100%;
        height: 650px;
        padding: 0;
    }

    .Investors_subtitle {
        font-size: 28px;
        line-height: 1.5;
        height: 136px;
        width: 300px;
        top: 20px;
        left: 25px
    }

    .Investors_blok-right,
    .Investors_blok-left {
        padding: 16px;
    }

    .Investors_info-btn {
        padding: 15px 170px;
        font-weight: 600;
        right: 21px;
    }

    .Investors_wrapper-item {
        padding: 0;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        position: relative;
        bottom: 480px;
    }

    .Investors_blok-left,
    .Investors_blok-right {
        width: 440px;
        height: 160px;
        line-height: 1.5;
    }

    .Investors_blok-title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .Investors_blok-text {
        font-size: 18px;
    }

    .Team_background {
        height: 160vh;
    }

    .Team_content-blok {
        display: flex;
        flex-wrap: wrap;
    }

    .Team_blok-item {
        width: 450px;
        height: 200px;
    }

    .Team_background {
        height: 122vh;
    }

    .Team_item-box {
        width: 300px;
        padding: 15px 10px;
    }

    .Team_inner-title {
        width: 230px;
        height: 35px;
    }

    .Contacts_inner-info {
        padding: 25px 30px;
        width: 100%;
        height: 370px;
    }

    .Contacts_background {
        height: 42vh;
    }

    .Contacts_inner {
        padding: 0;
    }

    .Form_title {
        padding-bottom: 30px;
    }

    .Form_inner {
        position: relative;
        bottom: -190px;
    }

    .Form_inner-name {
        font-size: 16px;
        width: 435px;
        height: 40px;
        margin-bottom: 15px;
    }

    .Form_inner-phone {
        font-size: 16px;
        width: 435px;
        height: 40px;
    }

    .Form_item-btn {
        padding: 14px 190px;
        width: 435px;
        height: 50px;
    }


}

@media(max-width:440px) {
    .Team_item-box {
        width: 265px;
        padding: 15px 10px;
    }

    .Information_inner-list {
        gap: 30px 63px;
    }

    .open-cart {
        padding: 15px 100px;
    }

    .Cottage_title,
    .Principles_title,
    .Projects_title,
    .Sales_title,
    .Team_title,
    .Form_title,
    .Investors_title {
        font-size: 24px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 200px !important;
        height: 450px;
    }

    .Projecits_slide-product,
    .Sales_slide-product {
        line-height: 1.2;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
        padding: 10px 24px;
    }

    .Sales_slide-img {
        width: 200px;
        height: 200px;
    }

    .Projecits_slide-img {
        width: 200px;
        height: 200px;
    }

    .Investors_info-btn {
        padding: 15px 161px;
        right: 10px;
    }

    .Contacts_title {
        font-size: 24px;

        margin-bottom: 50px;
    }

    .Contacts_inner-info {
        padding: 25px 20px;
        height: 281px;
    }

    .Contacts_background {
        height: 32vh;
    }

    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 390px;
    }

    .Form_item-checkbox {
        font-size: 11px;
    }

    .Form_item-btn {
        padding: 14px 150px;
    }

    .footer_site {
        padding-bottom: 50px;
    }

    .footer_inner-item {
        margin-bottom: 80px;
    }
}

@media(max-width:430px) {
    .logo>img {
        width: 133px;
    }


    .menu_btn_item_one,
    .menu_btn_item_two,
    .menu_btn_item_three {
        height: 12px;
    }

    .top__title {
        font-size: 36px;
        margin-bottom: 275px;
    }

    .Information_inner-list {
        gap: 20px 33px;
    }

    .open-cart {
        font-size: 16px;
        bottom: 30px;
        right: 20px;
        padding: 15px 100px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
    }


    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 380px;
    }

    .Form_item-btn {
        padding: 14px 150px;
    }

    .Team_item-box {
        width: 250px;
        padding: 15px 10px;
    }

    .Investors_wrapper {
        margin-bottom: 0;
    }

    .Investors_background-two {
        top: -287px;
        height: 42vh;
    }

    .Investors_subtitle {
        font-size: 26px;
        padding: 0;

    }

    .Investors_info-btn {
        right: 30px;
    }

    .Contacts_info-item {
        font-size: 16px;
    }

    .Contacts_inner-info {
        padding: 25px 20px;
        height: 300px;
    }

    .Team_background {
        height: 120vh;
    }

    .Team_item-box {
        width: 250px;
        padding: 15px 10px;
    }

    .Form_background {
        height: 70vh;
        bottom: 605px;
    }



}

@media(max-width:414px) {

    .menu_btn_item_one,
    .menu_btn_item_two,
    .menu_btn_item_three {
        height: 12px;
    }

    .top__title {
        font-size: 36px;
        margin-bottom: 275px;
    }

    .Information_inner-list {
        gap: 20px 33px;
        padding: 0 15px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 184px !important;
        height: 450px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 184px;
        height: 190px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 18px;
    }


    .open-cart {
        font-size: 16px;
        bottom: 30px;
        right: 20px;
        padding: 15px 100px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
    }


    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 370px;
    }

    .Form_item-btn {
        padding: 14px 150px;
    }

    .Team_blok-item {
        width: 380px;
        height: 200px;
    }

    .Team_inner-title {
        width: 150px;
        height: 65px;
    }

    .Team_inner-text {
        height: 50%;
        padding-bottom: 57px;
    }

    .Investors_wrapper {
        margin-bottom: 0;
    }

    .Investors_background-two {
        top: -287px;
        height: 42vh;
    }

    .Investors_subtitle {
        font-size: 26px;
        padding: 0;

    }

    .Investors_info-btn {
        right: 30px;
    }

    .Contacts_info-item {
        font-size: 16px;
    }

    .Contacts_inner-info {
        padding: 25px 20px;
        height: 300px;
    }

    .Team_background {
        height: 120vh;
    }

    .Team_item-box {
        width: 250px;
        padding: 15px 10px;
    }

    .Form_background {
        height: 69vh;
        bottom: 605px;
    }

    .footer_list-icone {
        gap: 0 30px;
    }



}

@media(max-width:390px) {
    .Information_inner-list {
        gap: 15px 20px;
        padding: 0;
        display: grid;
        grid-template-columns: 150px 150px;
        justify-content: center;
    }

    .open-cart {
        right: 12px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 175px !important;
        height: 400px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 175px;
        height: 170px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 65px;
        height: 65px;
        top: 5px;
        left: 7px;
    }

    .Projecits_slide-product,
    .Sales_slide-product {
        line-height: 1;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 14px;
    }

    .Investors_blok-left,
    .Investors_blok-right {
        width: 365px;
    }

    .Investors_info-btn {
        right: 15px;
    }

    .Team_item-box {
        width: 210px;
    }

    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 345px;
    }

    .Form_item-btn {
        padding: 14px 135px;
    }

    .Contacts_inner-info {
        padding: 25px 20px;
        height: 310px;
        position: relative;
        top: -30px;
    }
}

@media(max-width:380px) {
    .top__title {
        margin-bottom: 275px;
    }

    .Investors_img {
        width: 100%;
        height: 600px;
        padding: 0;
    }

    .Investors_blok-left,
    .Investors_blok-right {
        width: 290px;
    }

    .Investors_info-btn {
        padding: 15px 95px;
        right: 17px;
    }

    .Team_inner-title {
        width: 144px;
        font-size: 20px;
        height: 50px;
    }

    .Team_inner-text {
        width: 100%;
    }

    .Team_inner-email {
        color: #ffffff;
        font-size: 14px;
    }

    .Form_item-btn {
        padding: 17px 93px;
    }

    .Information_inner-list {
        gap: 20px 0px;
    }

    .open-cart {
        padding: 15px 95px;
    }

    .Investors_info-btn {
        padding: 15px 124px;
        right: 15px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 170px !important;
        height: 415px;
    }

    .Projecits_slide-product,
    .Sales_slide-product {
        line-height: 1;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 170px;
        height: 185px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 16px;
        padding: 10px 10px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 60px;
        height: 60px;
        top: 7px;
        left: 5px;
    }

    .Investors_wrapper-item {
        bottom: 455px;
    }

    .Investors_blok-left,
    .Investors_blok-right {
        line-height: 1;
    }

    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 335px;
    }

    .Form_item-btn {
        padding: 14px 130px;
    }

    .Team_item-box {
        width: 200px;
    }

    .Contacts_inner-info {
        padding: 50px 20px;
    }

    .Contacts_inner-info {
        height: 310px;
    }

}

@media(max-width:360px) {
    .top__title {
        margin-bottom: 220px;
        font-size: 32px;
    }

    .Information_inner-list {
        gap: 20px 0px;
        display: grid;
        grid-template-columns: 205px 125px;
        padding: 0;
    }

    .open-cart {
        padding: 15px 70px;
        right: 22px;
    }

    .Investors_info-btn {
        padding: 15px 115px;
        right: 17px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 150px;
        height: 130px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 60px;
        height: 60px;
    }

    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 60px;
        height: 60px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 150px !important;
        height: 340px;
    }

    .Projecits_slide-address,
    .Sales_cart-address,
    .Projecits_slide-club,
    .Sales_cart-club,
    .Projecits_slide-text,
    .Sales_cart-text,
    .Projecits_slide-price,
    .Sales_slide-price,
    .Projecits_slide-btn,
    .Sales_slide-btn {
        font-size: 12px;
    }

    .Projecits_slide-address,
    .Sales_cart-address {
        margin-bottom: 10px;
    }

    .Investors_subtitle {
        font-size: 20px;
    }

    .Team_item-box {
        width: 195px;
    }

    .Team_blok-item {
        width: 330px;
        height: 180px;
    }

    .Team_inner-text {
        height: 45%;
        padding-bottom: 50px;
    }

    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 320px;
    }

    .Form_item-btn {
        padding: 14px 115px;
    }

    .Contacts_background {
        height: 30vh;
    }

    .footer_site>p {
        font-size: 14px;
        width: 360px;
        height: 40px;
    }

}

@media(max-width:320px) {
    .open-cart {
        padding: 15px 60px;
        right: 10px;
    }

    .Projecits_swiper-slide,
    .Sales_swiper-slide {
        width: 140px !important;
        height: 325px;
    }

    .Projecits_slide-img,
    .Sales_slide-img {
        width: 140px;
        height: 125px;
    }

    .Projecits_slide-logo,
    .Sales_slide-logo {
        width: 55px;
        height: 55px;
        top: 5px;
        left: 3px;
    }

    .Projecits_slide-text,
    .Sales_cart-text {
        color: #fff;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .Projecits_slide-product,
    .Sales_slide-product {
        margin: 5px;
    }

    .Information_inner-list {
        display: grid;
        grid-template-columns: 175px 110px;
        padding: 0;
    }

    .Team_item-box {
        width: 150px;
    }

    .Form_inner-name,
    .Form_inner-phone,
    .Form_item-btn {
        width: 277px;
    }

    .Investors_subtitle {
        font-size: 23px;
        line-height: 1.5;
        height: 90px;
        width: 290px;
        left: 14px;
    }

    .Investors_blok-left,
    .Investors_blok-right {
        width: 295px;
        height: 150px;
    }

    .Investors_info-btn {
        padding: 15px 99px;
        right: 10px;
    }

    .Form_item-btn {
        padding: 14px 100px;
    }
}
